{% extends 'shop/main.html' %} {% load static %} {% block main %}
{% if messages %} {% for message in messages %}
<div
  class="alert alert-info alert-dismissible fade show text-center"
  role="alert"
>
  {{ message }}
</div>
{% endfor %} {% endif %}

<div
  class="hero-wrap hero-bread mb-5"
  style="background-image: url('{{ the_shop.avatar.url }}');"
>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-0 bread">About Us</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light mt-5">
  <div class="container">
    <div class="row">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
        style="background-image: url('{{ the_shop.image2.url }}')"
      >
        <a
          href=""
          class="icon popup-vimeo d-flex justify-content-center align-items-center"
        >
          <span class="icon-play"></span>
        </a>
      </div>
      <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
        <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">Welcome to {{ the_shop.name|title }}</h2>
          </div>
        </div>
        <div class="pb-md-5">
          <p>{{ the_shop.bio|capfirst }}</p>
          <p><a href="{% url 'products' the_shop.name %}" class="btn btn-primary">Shop Now</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
