{% extends 'shop/main.html' %}
{% load static %}
{% block main %}


{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show text-center" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="hero-wrap hero-bread" style="background-image: url('{{ the_shop.avatar.url }}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Cart</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row d-none d-lg-block">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="" method="post">
                                {% csrf_token %}
                                {% for product in cart %}
                                <tr class="text-center">
                                    <td class="product-remove">
                                        <a href="#"><span class="ion-ios-close"></span></a>
                                    </td>
                                    <td class="image-prod">
                                        <div class="img" style="background-image:url('{{ product.avatar.url }}');">
                                        </div>
                                    </td>
                                    <td class="product-name">
                                        <h3>{{ product.product.product|capfirst }}</h3>
                                    </td>
                                    <td class="price">KSH. {{ product.price }} per {{ product.units }}</td>
                                    <td class="quantity">
                                        <div class="input-group">
                                            <input type="hidden" name="product_id[]" value="{{ product.id }}">
                                            <input type="number" name="quantity[]"
                                                class="quantity form-control input-number"
                                                value="{{ product.quantity }}" min="1" max="100">
                                        </div>
                                    </td>
                                    <td class="total">KSH. {{ product.total }}</td>
                                </tr>
                                {% endfor %}
                                <tr class="text-center">
                                    <td colspan="6">
                                        <input type="submit" class="btn btn-primary" value="Save Changes">
                                    </td>
                                </tr>
                            </form>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row d-lg-none justify-content-center">
            <div class="d-flex justify-content-center">
                <h2>My Cart:</h2>
            </div>
            <div class="col-md-10">
                <div class="sidebar-box ftco-animate">
                    <form action="" method="post">
                        {% for product in cart %}
                        <div class="block-21 mb-4 mt-4 d-flex align-items-center">
                            {% csrf_token %}
                            <a class="blog-img mr-4" style="background-image: url('{{ product.avatar.url }}');"></a>
                            <div class="text">
                                <div>
                                    <div class="col-md-6">
                                    <h3 class="heading-1">
                                        <a href="#">{{ product.product.product|capfirst }}</a>
                                    </h3>
                                </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="hidden" name="product_id[]" value="{{ product.id }}">
                                            <input type="number" name="quantity[]"
                                                class="form-control quantity input-number"
                                                value="{{ product.quantity }}" min="1" max="100">
                                        </div>
                                    </div>
                                </div>
                                <div class="meta ml-3">
                                    <div>
                                        <span class="icon-calendar"></span> KSH. {{ product.price }}/{{ product.units }}
                                    </div>
                                    <div><span class="icon-chat"></span> KSH. {{ product.total }}</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        <div class="block-21 mb-4 d-flex">
                            <div class="text">
                                <input type="submit" class="btn btn-sm btn-primary" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Coupon Code</h3>
                    <p>Enter your coupon code if you have one</p>
                    <form action="#" class="info">
                        <div class="form-group">
                            <label for="">Coupon code</label>
                            <input type="text" class="form-control text-left px-3" placeholder="">
                        </div>
                    </form>
                </div>
                <p><a href="checkout.html" class="btn btn-sm btn-primary">Apply Coupon</a></p>
            </div>
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Estimate shipping and tax</h3>
                    <p>Enter your destination to get a shipping estimate</p>
                    <form action="#" class="info">
                        <div class="form-group">
                            <label for="">Country</label>
                            <input type="text" class="form-control text-left px-3" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="country">State/Province</label>
                            <input type="text" class="form-control text-left px-3" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="country">Zip/Postal Code</label>
                            <input type="text" class="form-control text-left px-3" placeholder="">
                        </div>
                    </form>
                </div>
                <p><a href="checkout.html" class="btn btn-sm btn-primary">Estimate</a></p>
            </div>
            <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>KSH. {{ pending_total.total_sum }}</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery</span>
                        <span>$0.00</span>
                    </p>
                    <p class="d-flex">
                        <span>Discount</span>
                        <span>$3.00</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>KSH. {{ pending_total }}</span>
                    </p>
                </div>
                <p><a href="{% url 'checkout' the_shop %}" class="btn btn-sm btn-primary">Proceed to Checkout</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}