{% extends 'dash/main.html' %}
{% load static %}
{% block main %}
<div class="content-wrapper">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title">Product Categories</h4>
                            <p class="card-description">
                                View and manage all categories featured in your shop.
                            </p>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-sm text-white mb-0 me-0" type="button"
                                data-bs-toggle="modal" data-bs-target="#newCategoryModal">
                                <i class="mdi mdi-account-plus"></i>
                                New Category
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        {% if categories %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Created on</th>
                                    <th>Is Featured</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                <tr>
                                    <td>{{ category.category|title }}</td>
                                    <td>{{ category.description|capfirst|truncatechars:20 }}</td>
                                    <td>{{ category.timestamp }}</td>
                                    <td>{{ category.is_featured }}</td>
                                    <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                                    <td class="d-flex justify-content-start" style="gap: 3px;">
                                        <button class="badge badge-info" type="button" data-bs-toggle="modal"
                                            data-bs-target="#viewCategoryModal{{ category.id }}">View</button>
                                        <!-- View Category Modal -->
                                        <div class="modal fade" id="viewCategoryModal{{ category.id }}" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Category Form</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Floating Labels Form -->
                                                        <form class="row g-3" method="post"
                                                            enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="col-sm-12">
                                                                <div class="form-floating">
                                                                    <input type="text" name="category"
                                                                        class="form-control"
                                                                        value="{{ category.category|title }}"
                                                                        required>
                                                                    <label>Category</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <div class="form-floating">
                                                                    <textarea class="w-100 form-control"
                                                                        name="description"
                                                                        style="height: 10rem;"
                                                                        >{{ category.description|capfirst }}</textarea>
                                                                    <label>Description</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12 d-flex align-items-center gap-3">
                                                                <label class="form-check-label">Set Featured</label>
                                                                <input type="checkbox" name="is_featured" value="True" class="form-check"
                                                                {% if category.is_featured %} checked {% endif %}>
                                                            </div>
                                                            <div class="col-sm-12 d-flex">
                                                                <div class="col-sm-6">
                                                                    <label>Display Picture: </label>
                                                                    {% if category.avatar %}
                                                                    <span>{{ category.avatar }}</span>
                                                                    {% endif %}
                                                                    <!-- &nbsp;&nbsp; -->
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <input type="file" name="avatar" class="form-file">
                                                                </div>
                                                            </div>
                                                            
                                                            <input type="hidden" name="shop_id" value="{{ shop.id }}">
                                                            <input type="hidden" name="category_id"
                                                                value="{{ category.id }}">
                                                            <input type="hidden" name="source" value="edit_category">
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                    class="btn btn-sm btn-outline-danger"
                                                                    data-bs-dismiss="modal">Close</button>
                                                                <button type="submit"
                                                                    class="btn btn-sm btn-outline-success">Save
                                                                    changes</button>
                                                            </div>
                                                        </form>
                                                        <!-- End floating Labels Form -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- New Category Modal -->
                                        <button class="badge badge-danger">Delete</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->

<!-- New Category Modal -->
<div class="modal fade" id="newCategoryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Category Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Floating Labels Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-sm-12">
                        <div class="form-floating">
                            <input type="text" name="category" class="form-control">
                            <label>Category</label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-floating">
                            <textarea class="w-100 form-control" style="height: 10rem;" name="description"></textarea>
                            <label>Description</label>
                        </div>
                    </div>
                    <input type="hidden" name="source" value="new_category">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-danger"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-sm btn-outline-success">Add Category</button>
                    </div>
                </form>
                <!-- End floating Labels Form -->
            </div>
        </div>
    </div>
</div>
<!-- New Category Modal -->

{% endblock %}
