{% extends 'dash/main.html' %}
{% load static %}
{% block main %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#confirmed_requests" role="tab"
                aria-controls="confirmed_requests" aria-selected="true">Confirmed Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#in_transit" role="tab"
                aria-selected="false">Deliveries in Transit</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#completed" role="tab"
                aria-selected="false">Completed Delivery Requests</a>
            </li>
          </ul>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show mt-2" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="confirmed_requests" role="tabpanel"
            aria-labelledby="confirmed_requests">
            <div class="col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title">Confirmed Cart Requests</h4>
                      <p class="card-description">
                        View and manage checked out carts.<br> Assign drivers or staff to make deliveries.
                      </p>
                    </div>
                  </div>
                  <div class="table-responsive">
                    {% if cart_deliveries %}
                    <table class="table table-hover mb-5">
                      <thead>
                        <tr>
                          <th>Order Number</th>
                          <th>Item Count</th>
                          <th>Total Amount</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for product in cart_deliveries %}
                        <tr>
                          <td>{{ product.order_number }}</td>
                          <td>{{ product.item_count }}</td>
                          <td>Ksh. {{ product.total_amount }}</td>
                          <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                          <td class="d-flex justify-content-start" style="gap: 3px;">
                              <a href="{% url 'order_details' product.order_number %}"><span class="badge badge-info">View</span></a>
                              <button class="badge badge-info" type="button" data-bs-toggle="modal"
                              data-bs-target="#assMultModal{{ product.order_number }}">Confirm</button>
                            <!-- View product Modal -->
                            <div class="modal fade" id="assMultModal{{ product.order_number }}" tabindex="-1">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Delivery Request Form</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <!-- Floating Labels Form -->
                                    <form class="row g-3" method="post">
                                      {% csrf_token %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <select name="driver" class="form-select">
                                            <option value="" selected disabled>------------------------</option>
                                            {% for driver in my_drivers %}
                                            <option value="{{ driver.name }}">{{ driver.name|title }}</option>
                                            {% endfor %}
                                          </select>
                                          <label>Driver</label>
                                        </div>
                                      </div>
                                      <input type="hidden" name="source" value="assign_multiple">
                                      <input type="hidden" name="order_number" value="{{ product.order_number }}">
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-outline-danger"
                                          data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-sm btn-outline-success">Assign
                                          Driver</button>
                                      </div>
                                    </form>
                                    <!-- End floating Labels Form -->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Edit Product Modal -->
                            <button class="badge badge-danger">Delete</button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% endif %}
                    {% if dash_deliveries %}
                    <div class="d-sm-flex justify-content-between align-items-start">
                      <div>
                        <h4 class="card-title">Confirmed Dash Requests</h4>
                        <p class="card-description">
                          View and manage confirmed delivery requests.<br> Assign drivers or staff to make deliveries.
                        </p>
                      </div>
                    </div>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Order Number</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Price Per Unit</th>
                          <th>Total</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for product in dash_deliveries %}
                        <tr>
                          <td>{{ product.order_number }}</td>
                          <td>{{ product.product.product|capfirst }}</td>
                          <td>{{ product.quantity }} {{ product.units }}</td>
                          <td>Ksh. {{ product.price }}</td>
                          <td>{{ product.total }}</td>
                          <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                          <td class="d-flex justify-content-start" style="gap: 3px;">
                            <button class="badge badge-info" type="button" data-bs-toggle="modal"
                              data-bs-target="#viewDeliveryModal{{ product.id }}">View</button>
                            <form action="" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="id" value="{{ product.id }}">
                              <input type="hidden" name="source" value="confirm_delivery">
                              <button class="badge badge-success" type="submit">Confirm</button>
                            </form>
                            <!-- View product Modal -->
                            <div class="modal fade" id="viewDeliveryModal{{ product.id }}" tabindex="-1">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Delivery Request Form</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <!-- Floating Labels Form -->
                                    <form class="row g-3" method="post">
                                      {% csrf_token %}
                                      {% if product.username %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ product.username.username|capfirst }}" readonly>
                                          <label>Customer Name</label>
                                        </div>
                                      </div>
                                      {% endif %}
                                      {% if product.unregistered_user %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ product.unregistered_user|title }}" readonly>
                                          <label>Customer Name</label>
                                        </div>
                                      </div>
                                      {% endif %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" value="{{ product.phone }}" readonly>
                                          <label>Phone Number</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" value="{{ product.product.product }}"
                                            readonly>
                                          <label>Product</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ product.category.category }}" readonly>
                                          <label>Category</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input type="number" class="form-control" value="{{ product.quantity }}"
                                            readonly>
                                          <label>Quantity</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input class="form-control" value="{{ product.units }}" readonly>
                                          <label>Units</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input class="form-control" value="KSH. {{ product.price }}" readonly>
                                          <label>Price Per Unit</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input class="form-control" value="KSH. {{ product.total }}" readonly>
                                          <label>Total Bill</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ product.timestamp|timesince }}" readonly>
                                          <label>Created On</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" name="address">
                                          <label>Adress</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" name="driver" class="form-control" list="driver_list"
                                            autocomplete="off">
                                          <datalist id="driver_list">
                                            {% for driver in my_drivers %}
                                            <option value="{{ driver.name }}">
                                              {% endfor %}
                                          </datalist>
                                          <label>Driver</label>
                                        </div>
                                      </div>
                                      <input type="hidden" name="source" value="assign_driver">
                                      <input type="hidden" name="id" value="{{ product.id }}">
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-outline-danger"
                                          data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-sm btn-outline-success">Assign
                                          Driver</button>
                                      </div>
                                    </form>
                                    <!-- End floating Labels Form -->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Edit Product Modal -->
                            <button class="badge badge-danger">Delete</button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade active" id="in_transit" role="tabpanel" aria-labelledby="in_transit">
            <div class="col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title">Deliveries in Transit</h4>
                      <p class="card-description">
                        View and manage your shop's delivery requests.
                      </p>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Order Number</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Price Per Unit</th>
                          <th>Total</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if in_transit %}
                        {% for order in in_transit %}
                        <tr>
                          <td>{{ order.order_number }}</td>
                          <td>{{ order.product.product|capfirst }}</td>
                          <td>{{ order.quantity }} {{ order.units }}</td>
                          <td>KSH. {{ order.price }}</td>
                          <td>KSH. {{ order.total }}</td>
                          <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                          <td class="d-flex justify-content-start" style="gap: 3px;">
                            <button class="badge badge-info" type="button" data-bs-toggle="modal"
                              data-bs-target="#viewDeliveryModal{{ order.id }}">View</button>
                            <form action="" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="id" value="{{ order.id }}">
                              <input type="hidden" name="source" value="complete">
                              <button class="badge badge-success" type="submit">Complete</button>
                            </form>
                            <!-- View In Transit Modal -->
                            <div class="modal fade" id="viewDeliveryModal{{ order.id }}" tabindex="-1">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Delivery Request Form</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <!-- Floating Labels Form -->
                                    <form class="row g-3" method="post">
                                      {% csrf_token %}
                                      {% if order.username %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.username.username|capfirst }}" readonly>
                                          <label>Customer Name</label>
                                        </div>
                                      </div>
                                      {% endif %}
                                      {% if order.unregistered_user %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.unregistered_user|title }}" readonly>
                                          <label>Customer Name</label>
                                        </div>
                                      </div>
                                      {% endif %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" value="{{ order.phone }}" readonly>
                                          <label>Phone Number</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.product.product|title }}" readonly>
                                          <label>Product</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.category.category|title }}" readonly>
                                          <label>Category</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input type="number" class="form-control" value="{{ order.quantity }}"
                                            readonly>
                                          <label>Quantity</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input class="form-control" value="{{ order.units }}" readonly>
                                          <label>Units</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input class="form-control" value="KSH. {{ order.price }}" readonly>
                                          <label>Price Per Unit</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input class="form-control" value="KSH. {{ order.total }}" readonly>
                                          <label>Total Bill</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.time_in_transit|timesince }} ago" readonly>
                                          <label>Assigned</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" value="{{ order.address }}" readonly>
                                          <label>Adress</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" value="{{ order.driver.name|title }}"
                                            readonly>
                                          <label>Driver</label>
                                        </div>
                                      </div>
                                      <input type="hidden" name="source" value="complete">
                                      <input type="hidden" name="id" value="{{ order.id }}">
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-outline-danger"
                                          data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-sm btn-outline-success">Complete</button>
                                      </div>
                                    </form>
                                    <!-- End floating Labels Form -->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Edit Product Modal -->
                            <button class="badge badge-danger">Delete</button>
                          </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                          <i class="bi bi-info-circle me-1"></i>
                          No Data
                        </div>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade active" id="completed" role="tabpanel" aria-labelledby="completed">
            <div class="col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title">Completed Deliveries Requests</h4>
                      <p class="card-description">
                        View all completed delivery requests.
                      </p>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Order Number</th>
                          <th>Product</th>
                          <th>Quantity</th>
                          <th>Price Per Unit</th>
                          <th>Total</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if completed %}
                        {% for order in completed %}
                        <tr>
                          <td>{{ order.order_number }}</td>
                          <td>{{ order.product.product|capfirst }}</td>
                          <td>{{ order.quantity }} {{ order.units }}</td>
                          <td>KSH. {{ order.price }}</td>
                          <td>KSH. {{ order.total }}</td>
                          <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                          <td class="d-flex justify-content-start" style="gap: 3px;">
                            <button class="badge badge-info" type="button" data-bs-toggle="modal"
                              data-bs-target="#viewCompletedDeliveryModal{{ order.id }}">View</button>
                            <!-- View Completed Deliveries Modal -->
                            <div class="modal fade" id="viewCompletedDeliveryModal{{ order.id }}" tabindex="-1">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Delivery Request Form</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <!-- Floating Labels Form -->
                                    <form class="row g-3" method="post">
                                      {% csrf_token %}
                                      {% if order.username %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.username.username|capfirst }}" readonly>
                                          <label>Customer Name</label>
                                        </div>
                                      </div>
                                      {% endif %}
                                      {% if order.unregistered_user %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.unregistered_user|title }}" readonly>
                                          <label>Customer Name</label>
                                        </div>
                                      </div>
                                      {% endif %}
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" value="{{ order.phone }}" readonly>
                                          <label>Phone Number</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.product.product|title }}" readonly>
                                          <label>Product</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.category.category|title }}" readonly>
                                          <label>Category</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input type="number" class="form-control" value="{{ order.quantity }}"
                                            readonly>
                                          <label>Quantity</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input class="form-control" value="{{ order.units }}" readonly>
                                          <label>Units</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input class="form-control" value="KSH. {{ order.price }}" readonly>
                                          <label>Price Per Unit</label>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-floating">
                                          <input class="form-control" value="KSH. {{ order.total }}" readonly>
                                          <label>Total Bill</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control"
                                            value="{{ order.time_completed|timesince }} ago" readonly>
                                          <label>Completed</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" value="{{ order.address }}" readonly>
                                          <label>Adress</label>
                                        </div>
                                      </div>
                                      <div class="col-md-12">
                                        <div class="form-floating">
                                          <input type="text" class="form-control" value="{{ order.driver.name|title }}"
                                            readonly>
                                          <label>Driver</label>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-outline-danger"
                                          data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-sm btn-outline-success">Details</button>
                                      </div>
                                    </form>
                                    <!-- End floating Labels Form -->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Edit Product Modal -->
                          </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                          <i class="bi bi-info-circle me-1"></i>
                          No Data
                        </div>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
{% endblock %}
