{% extends 'dash/main.html' %} {% load static %} {% load humanize %} {% block main %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
        <div
          class="d-sm-flex align-items-center justify-content-between border-bottom"
        >
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active ps-0"
                id="home-tab"
                data-bs-toggle="tab"
                href="#from_dash"
                role="tab"
                aria-controls="from_dash"
                aria-selected="true"
                >From Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                href="#from_cart"
                role="tab"
                aria-selected="false"
                >From Shop Carts</a
              >
            </li>
          </ul>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div
          class="alert alert-info alert-dismissible fade show mt-2"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="tab-content tab-content-basic">
          <div
            class="tab-pane fade show active"
            id="from_dash"
            role="tabpanel"
            aria-labelledby="from_dash"
          >
            <div class="col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div
                    class="d-sm-flex justify-content-between align-items-start"
                  >
                    <div>
                      <h4 class="card-title">Pending Delivery Requests</h4>
                      <p class="card-description">
                        View and manage requests made from the dashboard.
                      </p>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Username</th>
                          <th>Placed on</th>
                          <th>Total</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if dash_requests %}
                        {% for o in dash_requests %}
                        <tr>
                          <td>{{ o.order_number }}</td>
                          <td>{{ o.username|capfirst }}</td>
                          <td>{{ o.timestamp }}</td>
                          <td>KSH. {{ o.total|intcomma }}</td>
                          <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                          <td class="d-flex justify-content-start"
                            style="gap: 3px">
                          <a href="{% url 'order_details' o.order_number %}">
                              <span class="badge badge-info"> View </span>
                          </a>
                            <form action="" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="o_id" value="{{ o.id }}">
                              <input type="hidden" name="source" value="confirm_delivery">
                              <button class="badge badge-success" type="submit">
                                Confirm
                              </button>
                            </form>
                            <button class="badge badge-danger">Delete</button>
                          </td>
                        </tr>
                        {% endfor %} {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                          <i class="bi bi-info-circle me-1"></i>
                          No Data
                        </div>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade active"
            id="from_cart"
            role="tabpanel"
            aria-labelledby="from_cart"
          >
            <div class="col-sm-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                      <h4 class="card-title">Pending Delivery Requests</h4>
                      <p class="card-description">
                        View and manage requests from checked out carts.
                      </p>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Username</th>
                          <th>Placed on</th>
                          <th>Total</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if cart_requests %}
                        {% for order in cart_requests %}
                        <tr>
                          <td>{{ order.order_number }}</td>
                          <td>{{ order.username|title }}</td>
                          <td>{{ order.timestamp }}</td>
                          <td>KSH. {{ order.total|intcomma }}</td>
                          <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                          <td class="d-flex justify-content-start"
                            style="gap: 3px">
                            <a href="{% url 'order_details' order.order_number %}">
                              <span class="badge badge-info"> View </span>
                            </a>
                            <form action="" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="o_id" value="{{ order.id }}">
                              <input type="hidden" name="source" value="confirm_delivery">
                              <button class="badge badge-success" type="submit">
                                Confirm
                              </button>
                            </form>
                            <button class="badge badge-danger">Delete</button>
                          </td>
                        </tr>
                        {% endfor %} {% else %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                          <i class="bi bi-info-circle me-1"></i>
                          No Data
                        </div>
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
{% endblock %}
