{% extends 'dash/main.html' %}
{% load static %}
{% block main %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <div class="home-tab">
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab"
                aria-controls="overview" aria-selected="true">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#sales_summary" role="tab"
                aria-selected="false">Sales Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#notifications" role="tab"
                aria-selected="false">Notifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#more" role="tab"
                aria-selected="false">More</a>
            </li>
          </ul>
        </div>
        <div class="tab-content tab-content-basic">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
            <div class="row">
              <div class="col-sm-12">
                <div class="statistics-details d-flex align-items-center justify-content-between">
                  <div>
                    <p class="statistics-title">New Sessions</p>
                    <h3 class="rate-percentage">68.8</h3>
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Avg. Time on Site</p>
                    <h3 class="rate-percentage">2m:35s</h3>
                  </div>
                  <div>
                    <p class="statistics-title">Inventory Value</p>
                    <h3 class="rate-percentage">32786</h3>
                  </div>
                  <div>
                    <p class="statistics-title">Inventory Count</p>
                    <h3 class="rate-percentage">7,682</h3>
                  </div>
                </div>
                <div class="statistics-details d-flex align-items-center justify-content-between">
                  <div>
                    <p class="statistics-title">Categories</p>
                    <h3 class="rate-percentage">68</h3>
                  </div>
                  <div>
                    <p class="statistics-title">Completed Sales</p>
                    <h3 class="rate-percentage">289</h3>
                  </div>
                  <div>
                    <p class="statistics-title">Pending Tickets</p>
                    <h3 class="rate-percentage">68</h3>
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Team Members</p>
                    <h3 class="rate-percentage">2</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-12 grid-margin stretch-card">
                    <div class="card card-rounded table-darkBGImg">
                      <div class="card-body">
                        <div class="col-sm-8">
                          <h3 class="text-white upgrade-info mb-0">
                            Enhance your <span class="fw-bold">Campaign</span> for better outreach
                          </h3>
                          <a href="#" class="btn btn-info upgrade-btn">Upgrade Account!</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 d-flex flex-column">
                <div class="row flex-grow">
                  <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                    <div class="card bg-primary card-rounded">
                      <div class="card-body pb-0">
                        <h4 class="card-title card-title-dash text-white mb-4">Todays Sales</h4>
                        <div class="row">
                          <div class="col-sm-10">
                            <p class="status-summary-ight-white mb-1">Currently at</p>
                            <h2 class="text-info">KES. 357</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade show active" id="sales_summary" role="tabpanel" aria-labelledby="sales_summary">
            <div class="row">
              <div class="col-sm-12">
                <div class="statistics-details d-flex align-items-center justify-content-between">
                  <div>
                    <p class="statistics-title">Total Sales</p>
                    <h3 class="rate-percentage">68.8</h3>
                  </div>
                  <div class="d-none d-md-block">
                    <p class="statistics-title">Physical Sales</p>
                    <h3 class="rate-percentage">2m:35s</h3>
                  </div>
                  <div>
                    <p class="statistics-title">E-Comm Sales</p>
                    <h3 class="rate-percentage">32786</h3>
                  </div>
                  <div>
                    <p class="statistics-title">This Month</p>
                    <h3 class="rate-percentage">7,682</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
{% endblock %}
