{% extends 'dash/main.html' %}
{% load static %}
{% block main %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title">Order Details</h4>
                            <p class="card-description">
                                A quick summary of the order
                            </p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Price Per Unit</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if orders %}
                                {% for product in orders %}
                                <tr>
                                    <td>{{ product.product.product|capfirst }}</td>
                                    <td>{{ product.category.category|capfirst }}</td>
                                    <td>KSH. {{ product.price }} per {{ product.units }}</td>
                                    <td>{{ product.quantity }} {{ product.units }}</td>
                                    <td>KSH. {{ product.total }}</td>
                                    <td class="d-flex justify-content-start">
                                        <button class="badge badge-info" type="button" data-bs-toggle="modal"
                                            data-bs-target="#viewOrderModal{{ product.id }}">View</button>
                                        <!-- View product Modal -->
                                        <div class="modal fade" id="viewOrderModal{{ product.id }}" tabindex="-1">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Delivery Request Form
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Floating Labels Form -->
                                                        <form class="row g-3" method="post">
                                                            {% csrf_token %}
                                                            <div class="col-md-12">
                                                                <div class="form-floating">
                                                                    <input type="text" class="form-control"
                                                                        value="{{ product.username.username|capfirst }}"
                                                                        readonly>
                                                                    <label>Customer Name</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-floating">
                                                                    <input type="text" class="form-control"
                                                                        value="{{ product.phone }}" readonly>
                                                                    <label>Phone Number</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-floating">
                                                                    <input type="text" class="form-control"
                                                                        value="{{ product.email }}" readonly>
                                                                    <label>Email Address</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input type="number" class="form-control"
                                                                        value="{{ product.county }}" readonly>
                                                                    <label>County</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input type="number" class="form-control"
                                                                        value="{{ product.town }}" readonly>
                                                                    <label>Town</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-floating">
                                                                    <input type="text" class="form-control"
                                                                        value="{{ product.address }}" readonly>
                                                                    <label>Delivery Address</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-floating">
                                                                    <input type="text" class="form-control"
                                                                        value="{{ product.product.product }}" readonly>
                                                                    <label>Product</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-floating">
                                                                    <input type="text" class="form-control"
                                                                        value="{{ product.category.category }}"
                                                                        readonly>
                                                                    <label>Category</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input type="number" class="form-control"
                                                                        value="{{ product.quantity }}" readonly>
                                                                    <label>Quantity</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input class="form-control"
                                                                        value="{{ product.units }}" readonly>
                                                                    <label>Units</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input class="form-control"
                                                                        value="KSH. {{ product.price }}" readonly>
                                                                    <label>Price Per Unit</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-floating">
                                                                    <input class="form-control"
                                                                        value="KSH. {{ product.total }}" readonly>
                                                                    <label>Total Bill</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-floating">
                                                                    <input type="number" class="form-control"
                                                                        value="{{ product.timestamp|timesince }}"
                                                                        readonly>
                                                                    <label>Created On</label>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="source" value="confirm_delivery">
                                                            <input type="hidden" name="id" value="{{ product.id }}">
                                                            <div class="modal-footer">
                                                                <button type="button"
                                                                    class="btn btn-sm btn-outline-danger"
                                                                    data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                        </form>
                                                        <!-- End floating Labels Form -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Edit Order Modal -->
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <i class="bi bi-info-circle me-1"></i>
                                    No Data
                                </div>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->
{% endblock %}