{% extends 'dash/main.html' %} {% load static %} {% load humanize %} {% block main %}
<div class="content-wrapper">
  <div class="row">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div class="col-sm-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title">Orders</h4>
              <p class="card-description">View, manage, or print orders.</p>
            </div>
            <div>
              <button
                class="btn btn-primary btn-sm text-white mb-0 me-0"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#newOrderModal"
              >
                <i class="mdi mdi-account-plus"></i>
                Order New Product
              </button>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Category</th>
                  <th>Quantity</th>
                  <th>Supplier</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% if products %} {% for product in products %}
                <tr>
                  <td>{{ product.product|title }}</td>
                  <td>{{ product.category.category|title }}</td>
                  <td>{{ product.order_amount|intcomma }} {{ product.units.units }}</td>
                  <td>{{ product.supplier.name|title }}</td>
                  <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                  <td class="d-flex justify-content-start" style="gap: 3px">
                    <button class="badge badge-success">Print</button>
                    <button
                      class="badge badge-info"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#viewproductModal{{ product.id }}"
                    >
                      View
                    </button>
                    <!-- View product Modal -->
                    <div
                      class="modal fade"
                      id="viewproductModal{{ product.id }}"
                      tabindex="-1"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Inventory Form</h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <!-- Floating Labels Form -->
                            <form
                              class="row g-3"
                              method="post"
                            >
                              {% csrf_token %}
                              <div class="col-md-12">
                                <div class="form-floating">
                                  <input
                                    type="text"
                                    name="supplier"
                                    class="form-control"
                                    list="sup_list"
                                    autocomplete="off"
                                    value="{{ product.supplier.name }}"
                                    required
                                  />
                                  <datalist id="sup_list">
                                    {% for supplier in suppliers %}
                                    <option value="{{ supplier.name }}">
                                    {% endfor %}
                                  </datalist>

                                  <label>Supplier</label>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="form-floating">
                                  <input
                                    type="text"
                                    name="product"
                                    class="form-control"
                                    value="{{ product.product }}"
                                    required
                                  />
                                  <label>Product</label>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="form-floating">
                                  <input
                                    type="text"
                                    name="category"
                                    class="form-control"
                                    list="category_list"
                                    autocomplete="off"
                                    value="{{ product.category.category }}"
                                    required
                                  />
                                  <datalist id="category_list">
                                    {% for category in categories %}
                                    <option value="{{ category.category }}">
                                    {% endfor %}
                                  </datalist>
                                  <label for="Category">Category</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-floating">
                                  <input
                                    type="number"
                                    name="quantity"
                                    value="{{ product.order_amount }}"
                                    class="form-control"
                                    required
                                  />
                                  <label>Quantity</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-floating">
                                  <input
                                    type="text"
                                    name="units"
                                    class="form-control"
                                    list="units_list"
                                    autocomplete="off"
                                    value="{{ product.units.units }}"
                                    required
                                  />
                                  <datalist id="units_list">
                                    {% for u in units %}
                                    <option value="{{ u.units }}">
                                    {% endfor %}
                                  </datalist>
                                  <label>Units</label>
                                </div>
                              </div>
                              {% if product.order_instructions %}
                              <div class="col-md-12">
                                <div class="form-floating">
                                  <textarea
                                    class="w-100 form-control"
                                    name="instructions"
                                    style="height: 8rem"
                                  >{{ product.order_instructions|capfirst }}</textarea>
                                </div>
                              </div>
                              {% endif %}
                              <input
                                type="hidden"
                                name="source"
                                value="edit_order"
                              />
                              <input
                                type="hidden"
                                name="id"
                                value="{{ product.id }}"
                              />
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-sm btn-outline-danger"
                                  data-bs-dismiss="modal"
                                >Close</button>
                                <button
                                  type="submit"
                                  class="btn btn-sm btn-outline-success"
                                >Save Changes</button>
                              </div>
                            </form>
                            <!-- End floating Labels Form -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Edit Order Modal -->
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="id" value="{{ product.id }}" />
                      <input type="hidden" name="source" value="receive" />
                      <button class="badge badge-primary" type="submit">
                        Received
                      </button>
                    </form>
                    <button class="badge badge-danger">Delete</button>
                  </td>
                </tr>
                {% endfor %} {% else %}
                <div
                  class="alert alert-info alert-dismissible fade show"
                  role="alert"
                >
                  <i class="bi bi-info-circle me-1"></i>
                  No Data
                </div>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex justify-content-between align-items-start">
            <div>
              <h4 class="card-title">Low Stock Alerts</h4>
              <p class="card-description">
                These products have stock levels below {{ threshold.threshold }}.
              </p>
            </div>
          </div>
          <div class="table-responsive">
            {% if low_stock_products %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Category</th>
                  <th>Quantity</th>
                  <th>Price Per Unit</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for product in low_stock_products %}
                <tr>
                  <td>{{ product.product|title }}</td>
                  <td>{{ product.category.category|title }}</td>
                  <td>{{ product.quantity|intcomma }} {{ product.units.units }}</td>
                  <td>KSH. {{ product.price|intcomma }}</td>
                  <td>
                    <button
                      class="badge badge-info"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#makeOrderModal{{ product.id }}"
                    >
                      Make Order
                    </button>
                    <!-- New Order Modal2 -->
                    <div
                      class="modal fade"
                      id="makeOrderModal{{ product.id }}"
                      tabindex="-1"
                    >
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Order Form</h5>
                            <button
                              type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"
                            ></button>
                          </div>
                          <div class="modal-body">
                            <!-- Floating Labels Form -->
                            <form class="row g-3" method="post">
                              {% csrf_token %}
                              <div class="col-md-12">
                                <div class="form-floating">
                                  <input
                                    type="text"
                                    name="supplier"
                                    class="form-control"
                                    list="sup_list"
                                    autocomplete="off"
                                    required
                                    value="{{ product.supplier.name }}"
                                  />
                                  <datalist id="sup_list">
                                    {% for supplier in suppliers %}
                                    <option value="{{ supplier.name }}">
                                    {% endfor %}
                                  </datalist>

                                  <label>Supplier</label>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="form-floating">
                                  <input
                                    type="text"
                                    name="quantity"
                                    class="form-control"
                                    required
                                  />
                                  <label>Quantity</label>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="form-floating">
                                  <textarea
                                    class="w-100 form-control"
                                    name="instructions"
                                    style="height: 8rem;"
                                  >{% if product.order_instructions %}{{ product.order_instructions }}{% endif %}</textarea>
                                  <label>Short Instructions</label>
                                </div>
                              </div>
                              <input
                                type="hidden"
                                name="product_id"
                                value="{{ product.product_id }}"
                              />
                              <input
                                type="hidden"
                                name="source"
                                value="new_order2"
                              />
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-sm btn-outline-danger"
                                  data-bs-dismiss="modal"
                                >
                                  Close
                                </button>
                                <button
                                  type="submit"
                                  class="btn btn-sm btn-outline-success"
                                >
                                  Add Order
                                </button>
                              </div>
                            </form>
                            <!-- End floating Labels Form -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- New Order Modal -->
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->

<!-- New Order Modal -->
<div class="modal fade" id="newOrderModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Order Form</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Floating Labels Form -->
        <form class="row g-3" method="post">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="text"
                name="supplier"
                class="form-control"
                list="sup_list"
                autocomplete="off"
                required
              />
              <datalist id="sup_list">
                {% for supplier in suppliers %}
                <option value="{{ supplier.name }}">
                {% endfor %}
              </datalist>

              <label>Supplier</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="text"
                name="product"
                class="form-control"
                required
              />
              <label>Product</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <input
                type="text"
                name="category"
                class="form-control"
                list="category_list"
                autocomplete="off"
                required
              />
              <datalist id="category_list">
                {% for category in categories %}
                <option value="{{ category.category }}">
                {% endfor %}
              </datalist>
              <label>Category</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <input
                type="number"
                name="quantity"
                class="form-control"
                required
              />
              <label>Quantity</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <input
                type="text"
                name="units"
                class="form-control"
                list="units_list"
                autocomplete="off"
                required
              />
              <datalist id="units_list">
                {% for u in units %}
                <option value="{{ u.units }}">
                {% endfor %}
              </datalist>
              <label>Units</label>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-floating">
              <textarea
                class="w-100 form-control"
                name="instructions"
                style="height: 8rem;"
              ></textarea>
              <label>Short Instructions</label>
            </div>
          </div>
          <input type="hidden" name="source" value="new_order" />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-sm btn-outline-success">
              Add Order
            </button>
          </div>
        </form>
        <!-- End floating Labels Form -->
      </div>
    </div>
  </div>
</div>
<!-- New Order Modal -->

{% endblock %}
