{% extends 'dash/main.html' %}
{% load static %}
{% block main %}
<div class="content-wrapper">
    <div class="row">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col-sm-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title">Pending Applications</h4>
                            <p class="card-description">
                                View and manage all new shop applications.
                            </p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        {% if valid_shops %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Owner</th>
                                    <th>Category</th>
                                    <th>Is Featured</th>
                                    <th>Created On</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for shop in valid_shops %}
                                <tr>
                                    <td>{{ shop.name|title }}</td>
                                    <td>{{ shop.owner|title }}</td>
                                    <td>{{ shop.shop_category|title }}</td>
                                    <td>{{ shop.is_featured }}</td>
                                    <td>{{ shop.timestamp }}</td>
                                    <!-- <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td> -->
                                    <td class="d-flex justify-content-start" style="gap: 3px;">
                                        <a href="{% url 'main_shop_profile' shop.name %}"><span class="badge badge-info">View</span></a>
                                        <button class="badge badge-danger">Delete</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->

{% endblock %}