{% extends 'shop/main.html' %}
{% load static %}
{% block main %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show text-center" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="hero-wrap hero-bread" style="background-image: url('{{ the_shop.avatar.url }}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Help Desk</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-xl-5">
                <div class="row mt-5 pt-3">
                    
                    <div class="col-md-12 mb-5">
                        <div class="cart-detail p-3 p-md-4">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum perspiciatis corporis
                            commodi
                            consequuntur quia sunt, velit libero magnam nihil voluptatem labore aliquid placeat modi
                            fuga
                            dolores laborum! Voluptas quia qui unde enim necessitatibus. Nobis sed porro ea eligendi
                            libero
                            minima ducimus doloribus. Odio, rem nihil dolorem unde sint, ad perferendis quam est aliquam
                            rerum
                            repellendus quidem quae tenetur corporis harum voluptatibus beatae ex vel. Asperiores
                            dolorem,
                            laborum distinctio deleniti quae quidem voluptates vero modi ratione necessitatibus,
                            expedita
                            corporis rem, consequuntur voluptatibus error. Accusamus et, reiciendis, sequi voluptatem
                            quam
                            voluptatum dicta sint quaerat sunt hic harum dolorum explicabo iste deserunt ipsum.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 ftco-animate">
                <form class="billing-form" method="post">
                    {% csrf_token %}
                    <h3 class="mb-4 billing-heading">Raise Ticket</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">Phone</label>
                                <input type="text" class="form-control" name="phone" value="" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Email</label>
                                <input type="text" class="form-control" value="{{ request.user.email }}" name="email">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Issue</label>
                                <input type="text" class="form-control" name="issue" value="" required>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea name="description" class="form-control" rows="10" required></textarea>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="cart-detail p-3 p-md-4">
                               
                                <p>
                                    <input class="btn btn-primary py-3 px-4" type="submit" value="Get Ticket">
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}