{% extends 'shop/main.html' %}
{% load humanize %}
{% block main %}

<!--====== App Content ======-->
<div class="app-content">

    {% if messages %}
    {% for m in messages %}
    <!--====== Messages Section ======-->
    <div class="u-s-p-y-60">
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="breadcrumb">
                    <div class="breadcrumb__wrap">
                        <ul class="breadcrumb__list">
                            <li class="is-marked">
                                <a href="wishlist.html">{{ m }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End Messages Section ======-->
    {% endfor %}
    {% endif %}


    <!--====== Section 2 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="dash">
                <div class="container">
                    <div class="row">
                        {% include 'shop/shop_sidebar.html' %}
                        <div class="col-lg-9 col-md-12">
                            <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <div class="dash-l-r">
                                        <div>
                                            <div class="manage-o__text-2 u-c-secondary">Order #{{ order.order_number }}</div>
                                            <div class="manage-o__text u-c-silver">Placed on {{ order.timestamp }}</div>
                                            {% if order.status == 'completed' and order.time_completed %}
                                            <div class="manage-o__text u-c-silver">Delivered on {{ order.time_completed }}</div>
                                            {% endif %}
                                        </div>
                                        <div>
                                            <div class="manage-o__text-2 u-c-silver">Total:
                                                <span class="manage-o__text-2 u-c-secondary">KSH. {{ order.total|intcomma }}</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                <div class="dash__pad-2">
                                    <div class="manage-o">
                                        <div class="manage-o__header u-s-m-b-30">
                                            <div class="manage-o__icon">
                                                <i class="fas fa-truck u-s-m-r-5"></i>
                                                <span class="manage-o__text">{{ order.status|upper }}</span>
                                            </div>
                                        </div>
                                        {% if order.status == 'processing' or order.status == 'confirmed' %}
                                        <div class="manage-o__timeline">
                                            <div class="timeline-row">
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <div class="timeline-step">
                                                        <div class="timeline-l-i timeline-l-i--finish">
                                                            <span class="timeline-circle"></span>
                                                        </div>
                                                        <span class="timeline-text">Processing</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <div class="timeline-step">
                                                        <div class="timeline-l-i timeline-l-i">
                                                            <span class="timeline-circle"></span>
                                                        </div>
                                                        <span class="timeline-text">Shipped</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <div class="timeline-step">
                                                        <div class="timeline-l-i">
                                                            <span class="timeline-circle"></span>
                                                        </div>
                                                        <span class="timeline-text">Delivered</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% elif order.status == 'shipped' %}
                                        <div class="manage-o__timeline">
                                            <div class="timeline-row">
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <div class="timeline-step">
                                                        <div class="timeline-l-i timeline-l-i--finish">
                                                            <span class="timeline-circle"></span>
                                                        </div>
                                                        <span class="timeline-text">Processing</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <div class="timeline-step">
                                                        <div class="timeline-l-i timeline-l-i--finish">
                                                            <span class="timeline-circle"></span>
                                                        </div>
                                                        <span class="timeline-text">Shipped</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <div class="timeline-step">
                                                        <div class="timeline-l-i">
                                                            <span class="timeline-circle"></span>
                                                        </div>
                                                        <span class="timeline-text">Delivered</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% elif order.status == 'completed' %}
                                        <div class="manage-o__timeline">
                                            <div class="timeline-row">
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <div class="timeline-step">
                                                        <div class="timeline-l-i timeline-l-i--finish">
                                                            <span class="timeline-circle"></span>
                                                        </div>
                                                        <span class="timeline-text">Processing</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <div class="timeline-step">
                                                        <div class="timeline-l-i timeline-l-i--finish">
                                                            <span class="timeline-circle"></span>
                                                        </div>
                                                        <span class="timeline-text">Shipped</span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <div class="timeline-step">
                                                        <div class="timeline-l-i timeline-l-i--finish">
                                                            <span class="timeline-circle"></span>
                                                        </div>
                                                        <span class="timeline-text">Delivered</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}


                                        {% for o in orders %}
                                        <div class="manage-o__description"
                                            style="padding: 0.5rem;">
                                            <div class="description__container">
                                                <div class="description__img-wrap">
                                                    <img class="u-img-fluid" src="{{ o.product.avatar1.url }}" alt=""
                                                        style="height: 100%">
                                                </div>
                                                <div class="description-title">{{ o.product.product|title }}</div>
                                            </div>
                                            <div class="description__info-wrap"
                                                style="width: 40%;">
                                                <div>
                                                    <span class="manage-o__text-2 u-c-silver">Quantity:
                                                        <span class="manage-o__text-2 u-c-secondary">{{ o.quantity }} {{ o.product.units.units|title }}</span>
                                                    </span>
                                                </div>
                                                <div>
                                                    <span class="manage-o__text-2 u-c-silver">Total:
                                                        <span class="manage-o__text-2 u-c-secondary">KSH. {{ o.total|intcomma }}</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-3">
                                            <h2 class="dash__h2 u-s-m-b-8">Shipping Address</h2>
                                            <h2 class="dash__h2 u-s-m-b-8">{{ request.user|title }}</h2>
                                            <span class="dash__text-2">{{ address.county.county|title }} county</span>
                                            <span class="dash__text-2">{{ address.town|title }} town</span>
                                            <span class="dash__text-2">{{ address.street|title }} street</span>
                                            <span class="dash__text-2">House {{ address.house|title }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
                                        <div class="dash__pad-3">
                                            <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
                                            <div class="dash-l-r u-s-m-b-8">
                                                <div class="manage-o__text-2 u-c-secondary">Subtotal</div>
                                                <div class="manage-o__text-2 u-c-secondary">KSH. {{ order.total|intcomma }}</div>
                                            </div>
                                            <div class="dash-l-r u-s-m-b-8">
                                                <div class="manage-o__text-2 u-c-secondary">Shipping Fee</div>
                                                <div class="manage-o__text-2 u-c-secondary">KSH. {{ shipping.price|intcomma }}</div>
                                            </div>
                                            <div class="dash-l-r u-s-m-b-8">
                                                <div class="manage-o__text-2 u-c-secondary">Total</div>
                                                <div class="manage-o__text-2 u-c-secondary">KSH. {{ total_amnt|intcomma }}</div>
                                            </div>

                                            <span class="dash__text-2">Paid by {{ order.payment_method.method|title }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
</div>
<!--====== End - App Content ======-->

{% endblock %}
