{% extends 'shop/main.html' %}
{% load static %}
{% block main %}


{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show text-center" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="hero-wrap hero-bread" style="background-image: url('{{ the_shop.avatar.url }}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Order Details</h1>
            </div>
        </div>
    </div>
</div>

{% if orders %}
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row d-none d-lg-block">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Product</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr class="text-center">
                                <td class="product-name">
                                    <a href="{% url 'product_details' the_shop.name order.product_id %}">{{ order.product.product|title }}</a>
                                </td>
                                <td class="product-name">
                                    {{ order.category.category|title }}
                                </td>
                                <td class="product-name">
                                    {{ order.quantity }} {{ order.units }} * {{ order.price }}
                                </td>
                                <td class="product-name">
                                    KSH._{{ order.total }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row d-lg-none justify-content-center">
            <div class="d-flex justify-content-center">
                <h2>Details:</h2>
            </div>
            <div class="col-md-10">
                <div class="sidebar-box ftco-animate">
                    <ul class="list-group">
                        {% for order in orders %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-truck me-3 text-success fs-4"></i>
                                        <div>
                                            <strong>Product: </strong> <small>{{ order.product.product|title }}</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-truck me-3 text-success fs-4"></i>
                                        <div>
                                            <strong>Category: </strong> <small>{{ order.category.category|title }}</small>
                                        </div>
                                    </div>
                                
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-truck me-3 text-success fs-4"></i>
                                        <div>
                                            <strong>Quantity: </strong> <small>{{ order.quantity }} {{ order.units }}</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-truck me-3 text-success fs-4"></i>
                                        <div>
                                            <strong>Price Per {{ order.units|capfirst  }}: </strong> <small>KSH. {{ order.price }}</small>
                                        </div>
                                    </div>
                                </div>


                                <span class="badge bg-success rounded-pill p-2 text-light">
                                    KSH. {{ order.total }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
