{% extends 'web/main.html' %}
{% load static %}
{% block main %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-grid align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="{% url 'home' %}">ShopSync</a></h1>
    <nav id="navbar" class="navbar">
      <div class="col-md-6 form-group w-100">
        <form action="">
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
            <input type="text" name="q" class="form-control" placeholder="Search shop...">
          </div>
        </form>
      </div>
    </nav>
  </div>
</header>
<!-- End Header -->
<main>

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Get Shopping</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'all_shops' %}">All Shops</a></li>
        </ol>
      </div>

    </div>
  </section>
  <!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <p>Here is a list of all shops. Get started! You can also search by shopname.</p>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="row w-100 g-3 justify-content-center">
          {% for shops in all_shops %}
          <div class="col-md-4 d-flex">
            <div class="card card-post card-round flex-fill h-100">
              <!-- Responsive Image with Fixed Height -->
              <img class="card-img-top img-fluid" src="{{ shops.avatar.url }}" style="height: 20rem; object-fit: cover;"
                alt="Shop Image">
              <div class="card-body d-flex flex-column">
                <div class="d-flex">
                  <div class="avatar">
                    <img src="{{ shops.avatar.url }}" class="avatar-img rounded-circle img-fluid"
                      style="height: 4rem; width: 4rem;" alt="Avatar">
                  </div>
                  <div class="info-post ms-2">
                    <p class="username">{{ shops.owner.username|title }}</p>
                    <p class="date text-muted">{{ shops.timestamp|date }}</p>
                  </div>
                </div>
                <div class="separator-solid"></div>
                <p class="card-category text-info mb-1">
                  <a href="#">{{ shops.category|title }}</a>
                </p>
                <h3 class="card-title">
                  <a href="{% url 'shop' shops.name %}">{{ shops.name|title }}</a>
                </h3>
                <p class="card-text">{{ shops.bio|truncatechars:200|capfirst }}</p>
                <!-- Spacer to push the button down -->
                <div class="mt-auto">
                  <a href="{% url 'shop_details' shops.name %}" class="btn btn-primary btn-rounded btn-sm">Read More</a>
                </div>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

</main>
<!-- End #main -->

{% endblock %}