{% extends 'shop/main.html' %}
{% load static %}
{% block main %}


{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show text-center" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<div class="hero-wrap hero-bread" style="background-image: url('{{ the_shop.avatar.url }}');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Purchase History</h1>
            </div>
        </div>
    </div>
</div>

{% if grouped_orders %}
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row d-none d-lg-block">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Order Number</th>
                                <th>Item Count</th>
                                <th>Total Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in grouped_orders %}
                            <tr class="text-center">
                                <td class="product-name">
                                    <a href="{% url 'order_details' the_shop.name order.order_number %}">{{ order.order_number }}</a>
                                </td>
                                <td class="product-name">
                                    {{ order.item_count }}
                                </td>
                                <td class="price">KSH. {{ order.total_amount }}</td>
                                <td class="product-name">
                                    {{ order.status|title }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row d-lg-none justify-content-center">
            <div class="d-flex justify-content-center">
                <h2>History:</h2>
            </div>
            <div class="col-md-10">
                <div class="sidebar-box ftco-animate">
                    <ul class="list-group">
                        {% for order in grouped_orders %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Order #<a href="">{{ order.order_number }}</a></div>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-truck me-3 text-success fs-4"></i>
                                        <div>
                                            <strong>Item Count: </strong> <small>{{ order.item_count }}</small>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <i class="bi bi-truck me-3 text-success fs-4"></i>
                                        <div>
                                            <strong>Status: </strong> <small>{{ order.status|title }}</small>
                                        </div>
                                    </div>
                                </div>
                                <span class="badge bg-success rounded-pill p-2 text-light">
                                    KSH. {{ order.total_amount }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}
